---
layout: layouts/base.njk
---

<section id="banner" class="p-0 mb-4 text-center">
  <div class="inner-bg my-0 py-5">
    <div class="col-lg-6 p-3 my-5 mx-auto">
      <h2 class="display-4 fw-bold">Strong Towns Carmel</h2>
      <p>Bringing residents together to create a more people-oriented, resilient and fiscally responsible Carmel.</p>
    </div>
  </div>
</section>

<section id="home-about" class="container mb-4">
  <h2 class="text-center">Our Mission</h2>
  <div class="row row-cols-1 row-cols-lg-3 gx-5">
    <div class="col border-end">
      <div class="p-4 d-flex">
        <div class="d-inline-flex align-items-start justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="icon fa-solid fa-house-user"></i>
        </div>
        <div>
          <h3 class="h5">Incremental Housing</h3>
          <p>The housing market is broken. To fix it for everyone, we promote more small-scale, incremental development in Carmel.</
    incremental development.</p>
        </div>
      </div>
    </div>
    <div class="col border-end">
      <div class="p-4 d-flex">
        <div class="d-inline-flex align-items-start justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="icon fa-solid fa-person-biking"></i>
        </div>
        <div>
          <h3 class="h5">Safe and Productive Streets</h3>
          <p>We seek to shift the priority of local streets from automobile throughput to human safety and wealth creation.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-4 d-flex">
        <div class="d-inline-flex align-items-start justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="icon fa-solid fa-file-invoice-dollar"></i>
        </div>
        <div>
          <h3 class="h5">Transparent Local Accounting</h3>
          <p>We strive for equitable and sustainable approaches to local taxes and infrastructure development to build a strong Carmel for future generations.</p> 
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  {{ content | safe }}
</div>
