---
layout: layouts/base.njk
---

<section id="banner" class="p-0 mb-4 text-center">
  <div class="inner-bg my-0 py-5">
    <div class="col-lg-6 p-3 my-5 mx-auto">
      <h2 class="display-4 fw-bold">Strong Towns Carmel</h2>
      <p>Bringing residents together to create a more people-oriented, resilient and fiscally responsible Carmel.</p>
    </div>
  </div>
</section>

<div class="container">
  {{ content | safe }}
</div>
