---
layout: layouts/base.njk
---

<section id="banner" class="p-0 mb-4 text-center">
  <div class="inner-bg my-0 py-5">
    <div class="col-lg-6 p-3 my-5 mx-auto">
      <h2 class="display-4 fw-bold">Strong Towns Carmel</h2>
      <p>Bringing residents together to create a more people-oriented, resilient and fiscally responsible Carmel.</p>
      <a class="btn btn-warning btn-lg px-5" href="/join" role="button">Get Involved</a>
    </div>
  </div>
</section>

<section id="home-about" class="container mb-4 col-lg-8">
  <h2 class="text-center">Our Mission</h2>
  <div class="row row-cols-1 row-cols-lg-3 gx-3">
    <div class="col pe-3 border-end">
      <div class="py-3 d-flex">
        <div class="d-inline-flex align-items-start justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="icon fa-solid fa-house-user"></i>
        </div>
        <div>
          <h3 class="h5 mb-3">Legalize Housing Choice</h3>
          <p>Carmel is an amazing place to live and we want our children, teachers, firefighters, and service workers to afford living here. We advocate for small zoning changes to allow missing middle housing without destroying existing neighborhood character.</p>
        </div>
      </div>
    </div>
    <div class="col px-3 border-end">
      <div class="py-3 d-flex">
        <div class="d-inline-flex align-items-start justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="icon fa-solid fa-person-biking"></i>
        </div>
        <div>
          <h3 class="h5 mb-3">Safe and Productive Streets</h3>
          <p>Monon Boulevard shows how streets designed for everyone's safety are valued by businesses, residents, and visitors. We aim to extend this to all of Carmel, enabling people to benefit from vibrant and safe streets. We support quick, affordable improvements rather than costly, long-term planning projects.</p>
        </div>
      </div>
    </div>
    <div class="col ps-3">
      <div class="py-3 d-flex">
        <div class="d-inline-flex align-items-start justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="icon fa-solid fa-file-invoice-dollar"></i>
        </div>
        <div>
          <h3 class="h5 mb-3">Reduce Parking Mandates</h3>
          <p>We question using our limited land for car storage. Parking minimums waste valuable space, drain city resources, reduce green areas, and increase housing and business development costs. We advocate for fewer parking mandates to create more people-centered spaces.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- latest blog posts -->
<div class="container col-lg-8">
  {{ content | safe }}
</div>